@wrap("../layout","content")

<div class="row">
    <h2>Edit user @Html.encode(user.username)</h2>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <form name="edit-user" action='/save/@user.id' class="well form-horizontal" method="POST">
        <fieldset>


            <div class="control-group">
                <label class='control-label' for='username'>Username</label>

                <div class="controls">
                    <input type="text" name="username" id="username" value='@Html.attributeEncode(user.username)'/>
                </div>
            </div>
            <div class="control-group">
                <label class='control-label' for='password'>Password</label>

                <div class="controls">
                    <input type="text" name="password" id="password" value='@Html.attributeEncode(user.password)'/>
                </div>
            </div>
            <div class="control-group">
                <label class='control-label' for='password'>E-Mail</label>

                <div class="controls">
                    <input type="text" name="email" id="email" value='@Html.attributeEncode(user.email)'/>
                </div>
            </div>


        </fieldset>
        <input class="btn btn-success btn-large" type="submit" value="Save"/>
        <a class="btn" href="/"><i class="icon-ban-circle"></i> Cancel</a>
        <a class="btn btn-danger" href='
        /delete/@Url.encode(Html.encode(str.replace(user.username,"/","£")))'><i class="icon-remove-sign icon-white"></i>
            Delete</a>
    </form>
</div>